package shared_preferences

import (
	flutter "github.com/go-flutter-desktop/go-flutter"
	"github.com/go-flutter-desktop/go-flutter/plugin"
)

const channelName = "plugins.flutter.io/shared_preferences"

// SharedPreferences implements flutter.Plugin and handles method calls to the
// plugins.flutter.io/shared_preferences channel.
type SharedPreferences struct {
	messenger plugin.BinaryMessenger
	channel   *plugin.MethodChannel
}

var _ flutter.Plugin = &SharedPreferences{} // compile-time type check

func (p *textinputPlugin) InitPlugin(messenger plugin.BinaryMessenger) error {
	p.messenger = messenger
	p.channel = plugin.NewMethodChannel(p.messenger, channelName, plugin.StandardMethodCodec{})
	return nil
}
